<configuration>
    <include resource="terse-logback/initial.xml"/>
    <include resource="terse-logback/exceptions.xml"/>

    <include resource="terse-logback/appenders/console-appenders.xml"/>
    <include resource="terse-logback/appenders/jsonfile-appenders.xml"/>
    <include resource="terse-logback/appenders/textfile-appenders.xml"/>

    <appender name="ASYNC_JDBC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <!-- Don't allow logging events from the appender or the underpinnings to be logged -->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>${jdbc.filter}</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>

        <appender class="com.tersesystems.logback.jdbc.JDBCAppender">
            <driver>${jdbc.driver}</driver>
            <url>${jdbc.url}</url>
            <username>${jdbc.username}</username>
            <password>${jdbc.password}</password>

            <createStatements>${jdbc.createStatements}</createStatements>
            <insertStatement>${jdbc.insertStatement}</insertStatement>
            <reaperStatement>${jdbc.reaperStatement}</reaperStatement>
            <reaperSchedule>${jdbc.reaperSchedule}</reaperSchedule>

            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            </encoder>
        </appender>
    </appender>

    <turboFilter class="com.tersesystems.logback.classic.TapFilter">
        <appender-ref ref="ASYNC_JDBC"/>
    </turboFilter>

    <appender name="development" class="com.tersesystems.logback.core.CompositeAppender">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_TEXTFILE"/>
        <appender-ref ref="ASYNC_JSONFILE"/>
    </appender>

    <appender name="test" class="com.tersesystems.logback.core.CompositeAppender">
        <appender-ref ref="ASYNC_TEXTFILE"/>
    </appender>

    <appender name="production" class="com.tersesystems.logback.core.CompositeAppender">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_JSONFILE"/>
    </appender>

    <appender name="selector" class="com.tersesystems.logback.core.SelectAppender">
        <!-- Set logback.conf or logback-test.conf with "local.logback.environment=development" -->
        <appenderKey>${logback.environment:-development}</appenderKey>

        <appender-ref ref="development"/>
        <appender-ref ref="production"/>
        <appender-ref ref="test"/>
    </appender>

    <appender name="selector-with-unique-id" class="com.tersesystems.logback.uniqueid.UniqueIdEventAppender">
        <appender-ref ref="selector"/>
    </appender>

    <root>
        <appender-ref ref="selector-with-unique-id"/>
    </root>

    <include resource="terse-logback/ending.xml" />
</configuration>