@()

@main("Terse Logback Showcase") {
  <h4><a href="@routes.HomeController.index()">Home</a> | <a href="@routes.LogController.list(1)">Logs</a></h4>

  <p>
    This is a demonstration of how easy it is to present logs in multiple formats depending on environment,
    query for information from a database, and to display diagnostic logs on exception.
  </p>

  <p>
    Click on <a href="@controllers.routes.HomeController.show(false)">this link</a> to see a picture of a cat.
  </p>

  <p>
    Click on <a href="@controllers.routes.HomeController.show(true)">this link</a> to make the application throw an exception (causing a juicy backtrace) c
  </p>

  <p>
    Click on <a href="@routes.LogController.list(1)">this link</a> to see the logs.
  </p>

  <p>
    The source code for this application is available on <a href="https://github.com/tersesystems/terse-logback-showcase">Github</a>, and uses <a href="https://playframework.com">Play</a> and <a href="https://github.com/tersesystems/terse-logback">Terse Logback</a>.
  </p>

}
